
footer{
    background-color: #276F2E;
 
}
a.footer, a.footer:link, a.footer:visited, a.footer:hover, a.footer:focus, a.footer:active{
    color: white;
}
.footer{
    color: white;
}
.footer-info ul{
margin: 0px;
padding: 0px;
}

ul.footer{
    list-style-type:none;
    margin-top: 10px;
}
footer img{
    height: 50px;
}
.socials:hover {
    opacity: 0.7;
}
.socials img{
  margin-top: 10px;
  margin-right: 5px;
}